.App {
  text-align: center;
}


.card
{
  width: 15%;
 
background-color: aqua;
border: solid 2px black; 
font-family: 'Times New Roman', Times, serif;
}

.Openings
{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
  
}
